.gcontainer {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 35px 35px 35px;
    grid-gap: 1rem;
    text-align: center;
    margin-left: 25%;
}

.it {
    /*background-color: rgba(29, 170, 252, 0.24);*/
    background-image: linear-gradient(130deg, rgba(202, 192, 241, 0.2) 0%, rgba(0, 0, 0, 0.7) 85%, rgba(255, 255, 255, 0.7) 10%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
}

.itRed {
    /*background-color: rgba(29, 170, 252, 0.24);*/
    background-image: linear-gradient(130deg, rgba(202, 192, 241, 0.2) 0%, rgba(0, 0, 0, 0.7) 85%, rgba(247, 73, 73, 0.7) 10%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
}

.itBlue {
    /*background-color: rgba(29, 170, 252, 0.24);*/
    background-image: linear-gradient(130deg, rgba(202, 192, 241, 0.2) 0%, rgba(0, 0, 0, 0.7) 85%, rgba(125, 73, 247, 0.7) 10%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
}

#applink {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}